<body style="background-image: url()" <div class="container">
    <div class='card text-dark bg-light mb-3"' style='width: 21rem;'>
        <img src='/kindpng_1055656.png' id='avatar' class='card-img-top' alt='avatar'>
        <div class='card-body'>
            <h3 class='card-title'>Hello, {{profileData.firstName}}!</h3>
            <p class='card-text'>Here you can edit your profile details:</p>
            <section>
                <p><b>Username:</b> {{profileData.username}}</p>
                <p><b>Password:</b> {{profileData.password}}</p>
                <p><b>First name:</b> {{profileData.firstName}}</p>
                <p><b>Last name:</b> {{profileData.lastName}}</p>
                <p><b>Email:</b> {{profileData.email}}</p>
                <p><b>City:</b> {{profileData.city}}</p>
        </div>
    </div>

    <a href='/edit/{{profileData._id}}'>
        <button class='btn btn-dark'>Click to edit your profile</button>
    </a>

</body>