{{!-- <img src="" alt="Avatar" class="avatar"><br> --}}
<h2>Hello, {{profileData.firstName}} {{profileData.lastName}}</h2>
<div>

    <h3>Your details</h3>
    <p>Username: {{profileData.username}}</p>
    <p>Password: {{profileData.password}}</p>
    <p>Firstname: {{profileData.firstName}}</p>
    <p>Lastname: {{profileData.lastName}}</p>
    <p>email: {{profileData.email}}</p>

</div>
<div>
    <button type="button" class="btn">Click to edit details</button>
    <button type="button" class="btn">Click to delete profile</button>
</div>