

<div class="card" style="width: 18rem;">
    <img src="/kindpng_1055656.png" lass="card-img-top" alt="avatar">
    <div class="card-body">
        <h5 class="card-title">Hello, {{profileData.firstName}}!</h5>
        <p class="card-text">Here you can edit your profile details.</p>
        <section>
            <p>Username: {{profileData.username}}</p>
            <p>Password: {{profileData.password}}</p>
            <p>Firstname: {{profileData.firstName}}</p>
            <p>Lastname: {{profileData.lastName}}</p>
            <p>email: {{profileData.email}}</p>
            <p>city: {{profileData.city}}</p>
    </div>
</div>

<a href="/edit/{{profileData._id}}">
    <button class="btn btn-primary">Click to edit your profile</button>
</a>
