<div class="tripDetailPage-container">
        <div class="tripDetailPage-text">
            <h1>{{country}}</h1>
            <p>Cities Visited: {{tripHbs.city}}</p>
            <p>Date of trip: {{tripHbs.date}}</p>
            <p>Highlights: {{tripHbs.summary}}</p>
            <img src="/{{this.file}}" alt="">
        </div>
        {{!-- <div class="tripDetailPage-media">
            <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        </div> --}}
</div>

