<div class="tripDetailPage-container">
        <div class="tripDetailPage-text">
            <h1>{{tripHbs.country}}</h1>
            <p><b>Cities Visited:</b> {{tripHbs.city}}</p>
            <p><b>Date of Trip:</b> {{tripHbs.date}}</p>
            <p><b>Trip Highlight:</b> {{tripHbs.summary}}</p>
            <p><b>Travel Companions:</b> {{tripHbs.friends}}</p>
            <p><b>Tasty Dishes:</b> {{tripHbs.food}}</p>
            <p><b>Memorable Landmarks:</b> {{tripHbs.landmarks}}</p>
            <p hidden><b>Photos:</b> {{tripHbs.file}}</p>
            <p><b>Trip Rating:</b> {{tripHbs.rating}}</p>
        
        
            <div class="countryDetailPage-modal">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary update-trip" data-toggle="modal" data-target="#updateTrip">Update trip</button>

        <!-- Modal & Form -->
        <div class="modal fade" id="updateTrip" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Update Trip</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/trip/{{tripHbs._id}}" method="POST">
                        <div class="form-group">
                            <label for="country">Country Visited:</label>
                            <input type="text" class="form-control" value="{{tripHbs.country}}" name="country">
                        </div>
                        <div class="form-group">
                            <label for="city">Cities Visited:</label>
                            <input type="text" class="form-control" value="{{tripHbs.city}}" name="city">
                        </div>
                        <div class="form-group">
                            <label for="date">Date of Trip:</label>
                            <input type="date" class="form-control" value="{{tripHbs.date}}" name="date">
                        </div>
                        <div class="form-group">
                            <label for="summary">Trip Highlight:</label>
                            <input type="text" class="form-control" value="{{tripHbs.summary}}"  name="summary">
                        </div>
                        <div class="form-group">
                            <label for="summary">Travel Companion(s):</label>
                            <input type="text" class="form-control" value="{{tripHbs.friends}}" name="friends">
                        </div>
                        <div class="form-group">
                            <label for="summary">Tasty Dishes:</label>
                            <input type="text" class="form-control" value="{{tripHbs.food}}" name="food">
                        </div>
                        <div class="form-group">
                            <label for="summary">Memorable Landmarks:</label>
                            <input type="text" class="form-control" value="{{tripHbs.landmarks}}" name="landmarks">
                        </div>
                        <div class="form-group">
                            <label for="rating">Trip Rating:</label><br>
                            <input type="radio" id="1-star" name="rating" value="★">
                            <label for="1-star">★</label>
                            <input type="radio" id="2-star" name="rating" value="★★">
                            <label for="2-star">★★</label>
                            <input type="radio" id="3-star" name="rating" value="★★★">
                            <label for="3-star">★★★</label>
                            <input type="radio" id="4-star" name="rating" value="★★★★">
                            <label for="4-star">★★★★</label>
                            <input type="radio" id="5-star" name="rating" value="★★★★★">
                            <label for="5-star">★★★★★</label>
                        </div>
                        <div class="form-group">
                            <label for="file">Photos:*</label>
                            <input type="file" name="file" value="{{tripHbs.file}}">
                        </div> 
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
            </div>
        </div>

        <div class="tripDetailPage-media">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="/fileUploads/{{tripHbs.file}}" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
             
</div>


